@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? family= EB+Garamond:wght@500 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(240, 240, 240, 0.351);
}

/* Cabeçalho */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    background-image: url(../img/pexels-edward-eyer-1049626.jpg);
    background-size: cover;
    clip-path: ellipse(90% 45% at 50% 35%);
    padding-bottom: 80px;
}
.menu{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    gap: 60px;
    border-radius: 8px;
    padding: 6px 130px;
    
}
.menu a{
    color: #003400;
    font-weight: 600;
}
.logo{
    height: 80px;
    width: 90px;
    margin-left: 35px;
}
.section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    margin-top: 100px;
}
a.local{
    color: #dd7600;
    font-size: 18px;
    font-weight: 800;
}
h1{
    font-size: 55px;
    color: #fff;
    text-shadow: 1px 1px #cfcece53;
    margin-bottom: 70px;
    font-family: 'Bree Serif', serif;
}

/* Corpo */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 100px;
}
.historia{
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.title-story{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.story-text{
    width: 600px; 
    text-align: justify;
    padding-top: 90px;
    /* border: 1px solid red; */
}
.imgs-left, .imgs-right{
    display: flex;
    gap:30px;
}

.sobre{
    display: flex;
    flex-direction: row;
    gap: 70px;
    /* border: 1px solid red; */
}
.about-text{
    width: 625px; 
    text-align: justify;
    padding-top: 40px;
    /* border: 1px solid red; */
}
.title-about{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

/* Rodapé */
footer{
    display: flex;
    flex-direction: column;
    background-color: #003400;
    height: 300px;
    justify-content: center;
    align-items: center;
    gap:32px;
    margin-top: 40px;
}
.icon-footer{
    display: flex;
    flex-direction: row;
    gap:40px;
}
.item-footer{
    height: 30px;
    color: #fff;
    margin-top: 50px;
    margin-left: 15px;
    opacity: 0.6;
}
.item-footer:hover{
    opacity: 1;
    cursor: pointer;
}
footer p{
    color: #fff;
    font-weight: 300;
}
.text-footer{
    font-size: 1rem;
    color: #fff;
}